@import "/variables.scss";

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $header-color;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
}
